<div class="row">
    <div class="col-xl-12 col-lg-12" id="maindiv">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Release Patient</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <div class="row" id="data">
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">PatientId</label>
                            <input type="text" class="form-control" id="txtPatientInfo" onblur="getDetails()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var getDetails = () => {
            $.post('/GetPatientDetailsForBilling', { PatientUserName: $('#txtPatientInfo').val() }).done((res) => {
                $('#data').empty().html(res);
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: xhr.responseText,
                    icon: "error"
                });
            });
        }
    </script>
}