<div class="row">
    <div class="col-xl-12 col-lg-12" id="maindiv">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Release Patient</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <div class="row" id="data">
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">PatientId</label>
                            <input type="text" class="form-control" id="txtPatientInfo" onblur="getDetails()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var getDetails = () => {
            $.post('/GetPatientDetailsForBilling', { PatientUserName: $('#txtPatientInfo').val() }).done((res) => {
                $('#data').empty().html(res);
                bindPaymentModes();
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: xhr.responseText,
                    icon: "error"
                });
            });
        }
        var saveDetails = () => {
            let obj = {
                Service: $('#txtService').val(),
                Amount: $('#txtBillAddOnAmount').val(),
            }
            var _html = `
                            <tr class="service">
                            <td>${obj.Service}</td>
                            <td>${obj.Amount}</td>
                    </tr>
                    `;
            let acttotalAmount = parseFloat($('#acctotalAmount').val());
            $('#acctotalAmount').val(acttotalAmount + parseFloat(obj.Amount));
            let totalAmount = parseFloat($('#totalAmount').text());
            totalAmount = totalAmount + parseFloat(obj.Amount);
            $('#totalAmount').text(totalAmount);
            $('#billingDetails').prepend(_html);
            $('#txtService').val('');
            $('#txtBillAddOnAmount').val('');
            $('.btn-close').click();
        }
        var releasePatient = (patientId) => {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to release the patient!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Next"
            }).then((result) => {
                if (result.isConfirmed) {
                    var serviceArr = [];
                    $('#billingDetails tr.service').each((i, element) => {
                        let serviceObj = {
                            ServiceName: $(element).find('td:eq(0)').text(),
                            Amount: $(element).find('td:eq(1)').text()
                        };
                        serviceArr.push(serviceObj);
                    });

                    let obj = {
                        Services: serviceArr,
                        PatientId: patientId,
                        TotalAmount: $('#acctotalAmount').val(),
                        Discount: $('#txtDisCount').val(),
                        BankId: $('#bank').val(),
                        PaymentModeId: $('#paymentMode').val(),
                    };

                    $.post('/Patient/ReleasePatient', obj)
                        .done((res) => {
                            Swal.fire({
                                title: res.success ? "Success" : "Failed",
                                text: res.message,
                                icon: res.success ? "success" : "error"
                            });
                            if (res.success) {
                                window.location.reload();
                            }
                        })
                        .fail((xhr) => {
                            console.log(xhr);
                            Swal.fire({
                                title: "Failed!!",
                                text: "Server Error!",
                                icon: "error"
                            });
                        });
                }
            });
        }
        var handleDiscount = () => {
            let acttotalAmount = parseFloat($('#acctotalAmount').val());
            let discount = $('#txtDisCount').val() || '0';
            if (discount != 0) {
                acttotalAmount = acttotalAmount - parseFloat(discount);
            }
            $('#totalAmount').text(acttotalAmount);
        }
        var handlepaymentMode = () =>{
            if ($('#paymentMode').val() > 1) {
                $('#div-bank').removeClass('d-none');
            }
            else{
                $('#div-bank').addClass('d-none');
            }
        }
        var bindPaymentModes = () => {
            $.post('/Purchase/GetPaymentModes').done((response) => {
                if (response.success) {
                    let _option = response.data.map((v, i) => {
                        return `<option value='${v.id}'>${v.name}</option>`;
                    });
                    $('#paymentMode').empty().append('<option value="0">:: Select ::</option>').append(_option);
                }
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
    </script>
}