<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-3">
                    <h4 class="card-title">Scheduled Appointments</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm" id="datagrid">
                            <thead class="text-white bg-primary text-nowrap">
                                <tr>
                                    <td>#</td>
                                    <td>Appointment SrNo</td>
                                    <td>Doctor</td>
                                    <td>Patient Name</td>
                                    <td>Patient MobileNo</td>
                                    <td>Gender</td>
                                    <td>DOB</td>
                                    <td>City</td>
                                    <td>State</td>
                                    <td>Time</td>
                                    <td>Appointment Date</td>
                                    <td>EntryAt</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            loaddata();
        });
        var loaddata = () => {
            $.post('/Appointment/GetScheduledAppointments').done((res) => {
                $('#datagrid tbody').html(res);
            }).fail((xhr) => {
                console.log(xhr.responseText);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
    </script>
}