@using MultiHospitalHarmony.Models.Common
@model AppResponse<List<MasterPage>>


<div class="row">
    @{
        if (Model.Success)
        {
            foreach (var item in Model.Data)
            {
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input_@item.Id" type="checkbox" checked="@item.IsActive">
                        <label class="form-check-label_@item.Id text-nowrap">
                            @item.PageName
                        </label>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-xl-12">
                <div class="alert alert-danger left-icon-big alert-dismissible fade show">
                    <div class="media">
                        <div class="alert-left-icon-big">
                            <span><i class="mdi mdi-alert"></i></span>
                        </div>
                        <div class="media-body">
                            <h5 class="mt-1 mb-2">Failed!</h5>
                            <p class="mb-0">@Model.Message</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    <div class="col-sm-3">
        <button type="button" class="btn btn-primary" onclick="save()">Save</button>
    </div>
</div>