@{
    Layout = "_LoginLayout";
}
@model int
<div class="row justify-content-center h-100 align-items-center">
    <div class="col-md-6">
        <div class="authincation-content">
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <div class="auth-form">
                        <div class="text-center mb-3">
                            <a href="/"><img src="images/logo/logo-full.png" alt=""></a>
                        </div>
                        <h4 class="text-center mb-4">Sign In your account</h4>
                        <input type="hidden" id="txtWID" value="@Model" />
                        <div class="mb-3">
                            <label class="mb-1"><strong>Username</strong></label>
                            <input type="text" id="txtUserName" class="form-control" required placeholder="UserName">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1"><strong>Password</strong></label>
                            <input type="password" id="txtPassword" class="form-control" required placeholder="*******">
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-block" onclick="login()">Sign In</button>
                        </div>
                       @*  <div class="new-account mt-3">
                            <p>Already have an account? <a class="text-primary" href="page-login.html">Sign in</a></p>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>