@{
    Layout = "_LoginLayout";
}

<div class="page-wrapper">

    <!-- Content -->
    <div class="browse-job login-style3">
        <!-- Coming Soon -->
        <div class="bg-img-fix overflow-hidden" style="background:#fff url('@Url.Content("~/images/background/bg6.jpg")'); height: 100vh;">
            <div class="row gx-0">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 vh-100 bg-white ">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 653px;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="login-form style-2 pd-3">

                                <div class="card-body">
                                    <div class="logo-header">
                                        <a href="index.html" class="logo"><img src="@Url.Content("~/images/logo/logo-full.png")" alt="" class="width-230 light-logo"></a>
                                        <a href="index.html" class="logo"><img src="@Url.Content("~/images/logo/logofull-white.png")" alt="" class="width-230 dark-logo"></a>
                                    </div>

                                    <nav>
                                        <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">

                                            <div class="tab-content w-100" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                                                    <form action="@Url.Action("ActionName", "ControllerName")" class="dz-form pb-3">
                                                        <h3 class="form-title m-t0">Personal Information</h3>
                                                        <div class="dz-separator-outer m-b5">
                                                            <div class="dz-separator bg-primary style-liner"></div>
                                                        </div>
                                                        <p>Enter your e-mail address and your password. </p>
                                                        <div class="form-group mb-3">
                                                            <input type="email" id="txtEmail" class="form-control" required placeholder="example@gmail.com">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="password" id="txtPassword" class="form-control" required placeholder="*******">
                                                        </div>
                                                        <div class="form-group text-left mb-5 forget-main">
                                                            <span class="form-check d-inline-block">
                                                                <input type="checkbox" class="form-check-input" id="check1" name="example1" checked>
                                                                <label class="form-check-label" for="check1">Remember me</label>
                                                            </span>
                                                            <a class="form-check-label" href="#">Forget Password ?</a>
                                                            <button class="m-auto btn btn-primary " id="nav-forget-tab" type="button" onclick="login()">SignIn</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 0px; display: block; height: 652px; max-height: 643px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 0px;"></div><div class="mCSB_draggerRail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Blog Page Content -->
    </div>
    <!-- Content END-->
</div>
