@model CreateUserVM
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-3">
                    <h4 class="card-title">Customer Management</h4>
                </div>
                <div class="col-sm-9" style="display: flex; justify-content: end;">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" onclick="getById('-1')"><i class="fa fa-plus text-white" style="font-size: 13px; cursor: pointer;"></i> Add New</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-sm" id="datagrid">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                    <td>MobileNo</td>
                                    <td>EmailId</td>
                                    <td>Pincode</td>
                                    <td>City</td>
                                    <td>State</td>
                                    <td>Tahsil</td>
                                    <td>Address</td>
                                    <td>EntryAt</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="hdnId" value="0" />
                    <div class="col-sm-12">
                        <label>Name</label>
                        <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Name" required />
                    </div>
                    <div class="col-sm-12">
                        <label>MobileNo</label>
                        <input type="number" id="txtMobileNo" name="txtMobileNo" class="form-control" placeholder="MobileNo" required />
                    </div>
                    <div class="col-sm-12">
                        <label>EmailId</label>
                        <input type="email" id="txtEmailId" name="txtEmailId" class="form-control" placeholder="EmailId" required />
                    </div>
                    <div class="col-sm-12">
                        <label>Pincode</label>
                        <input type="number" id="txtPincode" name="txtPincode" class="form-control" onblur="getAreaByPincode()" placeholder="Pincode" required />
                    </div>
                    <div class="col-sm-12">
                        <label>State</label>
                        <select class="form-control" id="ddlState" required>
                            <option value="0">:: SELECT STATE ::</option>
                            @{
                                foreach (var item in Model.State)
                                {
                                    <option value="@item.Id">@item.StateName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <label>City</label>
                        <select class="form-control" id="ddlcity" required>
                            <option value="0">:: SELECT CITY ::</option>
                            @{
                                foreach (var item in Model.City)
                                {
                                    <option value="@item.Id">@item.CityName</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-sm-12">
                        <label>Tahsil</label>
                        <input type="text" id="txtTahsil" name="txtTahsil" class="form-control" placeholder="Tahsil" required />
                    </div>
                    <div class="col-sm-12">
                        <label>Address</label>
                        <input type="text" id="txtAddress" name="txtAddress" class="form-control" placeholder="Address" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveData()">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(() => {
            getdata();
        });
        var getdata = () => {
            $.post('/Customer/GetCustomerList').done((res) => {
                console.log('GetCustomerList', res);
                if (res.success) {
                    var _html = res.data.map((v, i) => {
                        return `
                                                    <tr>
                                                        <td>${i + 1}</td>
                                                        <td>${v.name}</td>
                                                        <td>${v.mobileNo}</td>
                                                        <td>${v.emailId}</td>
                                                        <td>${v.pincode}</td>
                                                        <td>${v.cityName}</td>
                                                        <td>${v.stateName}</td>
                                                        <td>${v.tahsil}</td>
                                                        <td>${v.address}</td>
                                                        <td>${v.entryAt}</td>
                                                                <td><a href="javacript:void(0)" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" data-toggle="tooltip" data-placement="left" title="Update" onclick="getById('${v.id}')"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                `
                    });
                    $('#datagrid tbody').empty().html(_html);
                }
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
        var saveData = () => {
            // if (!valiadteInputs()) {
            //     return false;
            // }
            let obj = {
                Id: $('#hdnId').val(),
                Name: $('#txtName').val(),
                MobileNo: $('#txtMobileNo').val(),
                EmailId: $('#txtEmailId').val(),
                Pincode: $('#txtPincode').val(),
                CityId: $('#ddlcity').val(),
                StateId: $('#ddlState').val(),
                Tahsil: $('#txtTahsil').val(),
                Address: $('#txtAddress').val(),
            }
            console.log('obj', obj);
            $.post('/Customer/SaveCustomer', obj).done((res) => {
                Swal.fire({
                    title: res.success == true ? "Success" : "Failed",
                    text: res.message,
                    icon: res.success == true ? "success" : "error"
                });
                if (res.success == true) {
                    $('input').val('');
                    $('.btn-close').click();
                    getdata();
                }
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
        var getById = (id) => {
            $.post('/Customer/GetByCustomerId', { Id: id }).done((res) => {
                $('#hdnId').val(res.id);
                $('#txtName').val(res.name);
                $('#txtMobileNo').val(res.mobileNo);
                $('#txtEmailId').val(res.emailId);
                $('#txtPincode').val(res.pincode);
                $('#ddlcity').val(res.cityId);
                $('#ddlState').val(res.stateId);
                $('#txtTahsil').val(res.tahsil);
                $('#txtAddress').val(res.address);
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
    </script>
}