@{
	ViewData["Title"] = "Dashboard";
	Layout = "_Layout";
}
<div class="row">
	<div class="col-xl-3 col-sm-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<div class="icon-box icon-box-lg bg-success-light rounded-circle">
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9715 29.3168C15.7197 29.3168 9.52686 30.4132 9.52686 34.8043C9.52686 39.1953 15.6804 40.331 22.9715 40.331C30.2233 40.331 36.4144 39.2328 36.4144 34.8435C36.4144 30.4543 30.2626 29.3168 22.9715 29.3168Z" stroke="#3AC977" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9714 23.0537C27.7304 23.0537 31.5875 19.1948 31.5875 14.4359C31.5875 9.67694 27.7304 5.81979 22.9714 5.81979C18.2125 5.81979 14.3536 9.67694 14.3536 14.4359C14.3375 19.1787 18.1696 23.0377 22.9107 23.0537H22.9714Z" stroke="#3AC977" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="total-projects ms-3">
						<h3 class="text-success count">5,652k</h3>
						<span>Total Completed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<div class="icon-box icon-box-lg bg-primary-light rounded-circle">
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M32.8961 26.5849C34.1612 26.5849 35.223 27.629 35.0296 28.8783C33.8947 36.2283 27.6026 41.6855 20.0138 41.6855C11.6178 41.6855 4.8125 34.8803 4.8125 26.4862C4.8125 19.5704 10.0664 13.1283 15.9816 11.6717C17.2526 11.3579 18.5553 12.252 18.5553 13.5605C18.5553 22.4263 18.8533 24.7197 20.5368 25.9671C22.2204 27.2145 24.2 26.5849 32.8961 26.5849Z" stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M41.1733 19.2019C41.2739 13.5059 34.2772 4.32428 25.7509 4.48217C25.0877 4.49402 24.5568 5.04665 24.5272 5.70783C24.3121 10.3914 24.6022 16.4605 24.764 19.2118C24.8134 20.0684 25.4864 20.7414 26.341 20.7907C29.1693 20.9526 35.4594 21.1736 40.0759 20.4749C40.7035 20.3802 41.1634 19.8355 41.1733 19.2019Z" stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>

					</div>
					<div class="total-projects ms-3">
						<h3 class="text-primary count">585k</h3>
						<span>Total In Progress</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<div class="icon-box icon-box-lg bg-purple-light rounded-circle">
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9717 41.0539C22.9717 41.0539 37.3567 36.6983 37.3567 24.6908C37.3567 12.6814 37.878 11.7439 36.723 10.5889C35.5699 9.43391 24.858 5.69891 22.9717 5.69891C21.0855 5.69891 10.3736 9.43391 9.21863 10.5889C8.0655 11.7439 8.58675 12.6814 8.58675 24.6908C8.58675 36.6983 22.9717 41.0539 22.9717 41.0539Z" stroke="#BB6BD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M26.4945 26.4642L19.4482 19.4179" stroke="#BB6BD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M19.4487 26.4642L26.495 19.4179" stroke="#BB6BD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="total-projects ms-3">
						<h3 class="text-purple count">5282k</h3>
						<span>Total Not Started</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<div class="icon-box icon-box-lg bg-danger-light rounded-circle">
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M34.0396 20.974C36.6552 20.6065 38.6689 18.364 38.6746 15.6471C38.6746 12.9696 36.7227 10.7496 34.1633 10.3296" stroke="#FF5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M37.4912 27.262C40.0243 27.6407 41.7925 28.5276 41.7925 30.3557C41.7925 31.6139 40.96 32.4314 39.6137 32.9451" stroke="#FF5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.7879 28.0373C16.7616 28.0373 11.6147 28.9504 11.6147 32.5973C11.6147 36.2423 16.7297 37.1817 22.7879 37.1817C28.8141 37.1817 33.9591 36.2779 33.9591 32.6292C33.9591 28.9804 28.846 28.0373 22.7879 28.0373Z" stroke="#FF5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.7876 22.8325C26.742 22.8325 29.9483 19.6281 29.9483 15.6719C29.9483 11.7175 26.742 8.51123 22.7876 8.51123C18.8333 8.51123 15.627 11.7175 15.627 15.6719C15.612 19.6131 18.7939 22.8194 22.7351 22.8325H22.7876Z" stroke="#FF5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M11.5344 20.974C8.91691 20.6065 6.90504 18.364 6.89941 15.6471C6.89941 12.9696 8.85129 10.7496 11.4107 10.3296" stroke="#FF5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M8.0825 27.262C5.54937 27.6407 3.78125 28.5276 3.78125 30.3557C3.78125 31.6139 4.61375 32.4314 5.96 32.9451" stroke="#FF5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="total-projects ms-3">
						<h3 class="text-danger count">5,855k</h3>
						<span>Total Not Started</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-5">
		<div class="card">
			<div class="card-header border-0">
				<h4 class="heading mb-0">Social Networking</h4>
			</div>
			<div class="card-body py-0" style="position: relative;">
				<div id="redial" style="min-height: 141px;"><div id="apexchartsmnxsxl9q" class="apexcharts-canvas apexchartsmnxsxl9q apexcharts-theme-light" style="width: 312px; height: 141px;"><svg id="SvgjsSvg1204" width="312" height="141" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1206" class="apexcharts-inner apexcharts-graphical" transform="translate(81, -10)"><defs id="SvgjsDefs1205"><clipPath id="gridRectMaskmnxsxl9q"><rect id="SvgjsRect1208" width="156" height="162" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskmnxsxl9q"><rect id="SvgjsRect1209" width="154" height="164" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient1214" x1="1" y1="0" x2="0" y2="1"><stop id="SvgjsStop1215" stop-opacity="0" stop-color="" offset="0.64"></stop><stop id="SvgjsStop1216" stop-opacity="1" stop-color="" offset="0.43"></stop><stop id="SvgjsStop1217" stop-opacity="1" stop-color="" offset="0.64"></stop><stop id="SvgjsStop1218" stop-opacity="0" stop-color="" offset="0.005"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1225" x1="1" y1="0" x2="0" y2="1"><stop id="SvgjsStop1226" stop-opacity="1" stop-color="var(--secondary)" offset="0.64"></stop><stop id="SvgjsStop1227" stop-opacity="1" stop-color="" offset="0.43"></stop><stop id="SvgjsStop1228" stop-opacity="1" stop-color="" offset="0.64"></stop><stop id="SvgjsStop1229" stop-opacity="1" stop-color="var(--secondary)" offset="0.005"></stop></linearGradient></defs><g id="SvgjsG1210" class="apexcharts-radialbar"><g id="SvgjsG1211"><g id="SvgjsG1212" class="apexcharts-tracks"><g id="SvgjsG1213" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 74.99999999999999 127.71951219512195 A 52.71951219512196 52.71951219512196 0 1 1 75.0920128600705 127.71943189873346" fill="none" fill-opacity="1" stroke="var(--rgba-secondary-1)" stroke-opacity="1" stroke-linecap="butt" stroke-width="11.634146341463415" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 74.99999999999999 127.71951219512195 A 52.71951219512196 52.71951219512196 0 1 1 75.0920128600705 127.71943189873346"></path></g></g><g id="SvgjsG1220"><g id="SvgjsG1224" class="apexcharts-series apexcharts-radial-series" seriesName="AveragexResults" rel="1" data:realIndex="0"><path id="SvgjsPath1230" d="M 74.99999999999999 127.71951219512195 A 52.71951219512196 52.71951219512196 0 1 1 127.71951219512195 75" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient1225)" stroke-opacity="1" stroke-linecap="butt" stroke-width="11.634146341463415" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="270" data:value="75" index="0" j="0" data:pathOrig="M 74.99999999999999 127.71951219512195 A 52.71951219512196 52.71951219512196 0 1 1 127.71951219512195 75"></path></g><circle id="SvgjsCircle1221" r="26.902439024390247" cx="75" cy="75" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG1222" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1223" font-family="Helvetica, Arial, sans-serif" x="75" y="80" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="600" fill="#000000" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">75%</text></g></g></g></g><line id="SvgjsLine1231" x1="0" y1="0" x2="150" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1232" x1="0" y1="0" x2="150" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1207" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div>
				<div class="text-center">
					<h5 class="mb-0">Total sales made week</h5>
					<h4>$86</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-sm-4 tg-base">
						<div class="card text-center">
							<div class="card-body p-2">
								<span class="mb-1 d-block">Target</span>
								<h4 class="mb-0"><i class="fa-solid fa-arrow-up me-1 text-success"></i>$15k</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-sm-4 tg-base">
						<div class="card text-center">
							<div class="card-body p-2">
								<span class="mb-1 d-block">Last week</span>
								<h4 class="mb-0"><i class="fa-solid fa-arrow-down me-1 text-danger"></i>$55k</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-sm-4 tg-base">
						<div class="card text-center">
							<div class="card-body p-2">
								<span class="mb-1 d-block">Last Year</span>
								<h4 class="mb-0"><i class="fa-solid fa-arrow-up me-1 text-success"></i>$65k</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="resize-triggers"><div class="expand-trigger"><div style="width: 348px; height: 424px;"></div></div><div class="contract-trigger"></div></div>
			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-7">
		<div class="card overflow-hidden">
			<div class="card-header border-0 pb-0 flex-wrap">
				<h4 class="heading mb-0">Projects Overview</h4>
				<ul class="nav nav-pills mix-chart-tab" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" data-series="week" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab" aria-selected="true">Week</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-series="month" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-selected="false" tabindex="-1">Month</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-series="year" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab" aria-selected="false" tabindex="-1">Year</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-series="all" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-selected="false" tabindex="-1">All</button>
					</li>
				</ul>
			</div>
			<div class="card-body custome-tooltip p-0" style="position: relative;">
				<div id="overiewChart" style="min-height: 365px;">
					<div id="apexchartss9vgpmwu" class="apexcharts-canvas apexchartss9vgpmwu apexcharts-theme-light" style="width: 722px; height: 350px;">
						<svg id="SvgjsSvg1235" width="722" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
							<foreignObject x="0" y="0" width="722" height="350">
								<div class="apexcharts-legend apexcharts-align-center position-bottom" xmlns="http://www.w3.org/1999/xhtml" style="inset: auto 0px 1px; position: absolute; max-height: 175px;"><div class="apexcharts-legend-series" rel="1" seriesname="NumberxofxProjects" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: var(--primary) !important; color: var(--primary); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Number%20of%20Projects" data:collapsed="false" style="color: rgb(136, 136, 136); font-size: 13px; font-weight: 400; font-family: poppins;">Number of Projects</span></div><div class="apexcharts-legend-series" rel="2" seriesname="Revenue" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(58, 201, 119) !important; color: rgb(58, 201, 119); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Revenue" data:collapsed="false" style="color: rgb(136, 136, 136); font-size: 13px; font-weight: 400; font-family: poppins;">Revenue</span></div><div class="apexcharts-legend-series" rel="3" seriesname="ActivexProjects" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(255, 94, 94) !important; color: rgb(255, 94, 94); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Active%20Projects" data:collapsed="false" style="color: rgb(136, 136, 136); font-size: 13px; font-weight: 400; font-family: poppins;">Active Projects</span></div></div><style type="text/css">

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 display: flex;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 overflow: auto;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 padding: 0 10px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 .apexcharts-legend.position-bottom, .apexcharts-legend.position-top {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 flex-wrap: wrap
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 .apexcharts-legend.position-right, .apexcharts-legend.position-left {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 flex-direction: column;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 bottom: 0;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 .apexcharts-legend.position-bottom.apexcharts-align-left, .apexcharts-legend.position-top.apexcharts-align-left, .apexcharts-legend.position-right, .apexcharts-legend.position-left {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 justify-content: flex-start;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 .apexcharts-legend.position-bottom.apexcharts-align-center, .apexcharts-legend.position-top.apexcharts-align-center {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 justify-content: center;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 .apexcharts-legend.position-bottom.apexcharts-align-right, .apexcharts-legend.position-top.apexcharts-align-right {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 justify-content: flex-end;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend-series {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 cursor: pointer;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 line-height: normal;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 display: flex;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 align-items: center;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend-text {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 position: relative;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 font-size: 14px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 .apexcharts-legend-text *, .apexcharts-legend-marker * {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									 pointer-events: none;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend-marker {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 position: relative;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 display: inline-block;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 cursor: pointer;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 margin-right: 3px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 border-style: solid;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 display: inline-block;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend-series.apexcharts-no-click {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 cursor: auto;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 display: none !important;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }

																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 .apexcharts-inactive-legend {
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								 opacity: 0.45;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							 }</style>
							</foreignObject>
							<g id="SvgjsG1237" class="apexcharts-inner apexcharts-graphical" transform="translate(64.79935546875001, 30)"><defs id="SvgjsDefs1236"><clipPath id="gridRectMasks9vgpmwu"><rect id="SvgjsRect1243" width="655.4877929687501" height="261.73" x="-14.59623046875" y="-0.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMasks9vgpmwu"><rect id="SvgjsRect1244" width="630.29533203125" height="264.73" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient1249" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1250" stop-opacity="1" stop-color="#3ac977" offset="0"></stop><stop id="SvgjsStop1251" stop-opacity="0.15" stop-color="#3ac977" offset="0.004"></stop><stop id="SvgjsStop1252" stop-opacity="0" stop-color="#3ac977" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1258" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1259" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1260" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1262" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1263" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1264" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1266" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1267" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1268" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1270" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1271" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1272" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1274" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1275" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1276" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1278" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1279" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1280" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1282" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1283" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1284" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1286" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1287" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1288" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1290" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1291" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1292" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1294" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1295" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1296" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1298" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1299" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1300" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1302" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1303" stop-opacity="1" stop-color="var(--primary)" offset="0"></stop><stop id="SvgjsStop1304" stop-opacity="1" stop-color="var(--primary)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1310" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1311" stop-opacity="1" stop-color="#ff5e5e" offset="0"></stop><stop id="SvgjsStop1312" stop-opacity="1" stop-color="#ff5e5e" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1242" x1="0" y1="0" x2="0" y2="260.73" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="260.73" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1314" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1315" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1317" font-family="Helvetica, Arial, sans-serif" x="0" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1318">Jan</tspan><title>Jan</title></text><text id="SvgjsText1320" font-family="Helvetica, Arial, sans-serif" x="56.93593927556819" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1321">Feb</tspan><title>Feb</title></text><text id="SvgjsText1323" font-family="Helvetica, Arial, sans-serif" x="113.87187855113639" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1324">Mar</tspan><title>Mar</title></text><text id="SvgjsText1326" font-family="Helvetica, Arial, sans-serif" x="170.8078178267046" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1327">Apr</tspan><title>Apr</title></text><text id="SvgjsText1329" font-family="Helvetica, Arial, sans-serif" x="227.74375710227275" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1330">May</tspan><title>May</title></text><text id="SvgjsText1332" font-family="Helvetica, Arial, sans-serif" x="284.67969637784097" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1333">Jun</tspan><title>Jun</title></text><text id="SvgjsText1335" font-family="Helvetica, Arial, sans-serif" x="341.6156356534092" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1336">Jul</tspan><title>Jul</title></text><text id="SvgjsText1338" font-family="Helvetica, Arial, sans-serif" x="398.5515749289774" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1339">Aug</tspan><title>Aug</title></text><text id="SvgjsText1341" font-family="Helvetica, Arial, sans-serif" x="455.4875142045456" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1342">Sep</tspan><title>Sep</title></text><text id="SvgjsText1344" font-family="Helvetica, Arial, sans-serif" x="512.4234534801138" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1345">Oct</tspan><title>Oct</title></text><text id="SvgjsText1347" font-family="Helvetica, Arial, sans-serif" x="569.359392755682" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1348">Nov</tspan><title>Nov</title></text><text id="SvgjsText1350" font-family="Helvetica, Arial, sans-serif" x="626.2953320312503" y="289.73" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1351">Dec</tspan><title>Dec</title></text></g><line id="SvgjsLine1352" x1="-12.09623046875" y1="261.73" x2="638.3915625000001" y2="261.73" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1"></line></g><g id="SvgjsG1365" class="apexcharts-grid"><g id="SvgjsG1366" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1380" x1="-12.09623046875" y1="0" x2="638.3915625000001" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1381" x1="-12.09623046875" y1="65.1825" x2="638.3915625000001" y2="65.1825" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1382" x1="-12.09623046875" y1="130.365" x2="638.3915625000001" y2="130.365" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1383" x1="-12.09623046875" y1="195.5475" x2="638.3915625000001" y2="195.5475" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1384" x1="-12.09623046875" y1="260.73" x2="638.3915625000001" y2="260.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1367" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1368" x1="0" y1="261.73" x2="0" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1369" x1="56.93593927556819" y1="261.73" x2="56.93593927556819" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1370" x1="113.87187855113638" y1="261.73" x2="113.87187855113638" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1371" x1="170.80781782670456" y1="261.73" x2="170.80781782670456" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1372" x1="227.74375710227275" y1="261.73" x2="227.74375710227275" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1373" x1="284.67969637784097" y1="261.73" x2="284.67969637784097" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1374" x1="341.6156356534092" y1="261.73" x2="341.6156356534092" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1375" x1="398.5515749289774" y1="261.73" x2="398.5515749289774" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1376" x1="455.4875142045456" y1="261.73" x2="455.4875142045456" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1377" x1="512.4234534801138" y1="261.73" x2="512.4234534801138" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1378" x1="569.359392755682" y1="261.73" x2="569.359392755682" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1379" x1="626.2953320312503" y1="261.73" x2="626.2953320312503" y2="267.73" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1386" x1="0" y1="260.73" x2="626.29533203125" y2="260.73" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1385" x1="0" y1="1" x2="0" y2="260.73" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1245" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1246" class="apexcharts-series" seriesName="Revenue" data:longestSeries="true" rel="1" data:realIndex="1"><path id="SvgjsPath1253" d="M 0 260.73L 0 146.0088L 56.93593927556818 91.25550000000001L 113.87187855113636 117.32850000000002L 170.80781782670454 65.1825L 227.74375710227272 143.4015L 284.6796963778409 117.32850000000002L 341.6156356534091 156.43800000000002L 398.5515749289773 104.292L 455.48751420454545 65.1825L 512.4234534801136 143.4015L 569.3593927556818 130.365L 626.29533203125 151.22340000000003L 626.29533203125 260.73M 626.29533203125 151.22340000000003z" fill="url(#SvgjsLinearGradient1249)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 0 260.73L 0 146.0088L 56.93593927556818 91.25550000000001L 113.87187855113636 117.32850000000002L 170.80781782670454 65.1825L 227.74375710227272 143.4015L 284.6796963778409 117.32850000000002L 341.6156356534091 156.43800000000002L 398.5515749289773 104.292L 455.48751420454545 65.1825L 512.4234534801136 143.4015L 569.3593927556818 130.365L 626.29533203125 151.22340000000003L 626.29533203125 260.73M 626.29533203125 151.22340000000003z" pathFrom="M -1 260.73L -1 260.73L 56.93593927556818 260.73L 113.87187855113636 260.73L 170.80781782670454 260.73L 227.74375710227272 260.73L 284.6796963778409 260.73L 341.6156356534091 260.73L 398.5515749289773 260.73L 455.48751420454545 260.73L 512.4234534801136 260.73L 569.3593927556818 260.73L 626.29533203125 260.73"></path><path id="SvgjsPath1254" d="M 0 146.0088L 56.93593927556818 91.25550000000001L 113.87187855113636 117.32850000000002L 170.80781782670454 65.1825L 227.74375710227272 143.4015L 284.6796963778409 117.32850000000002L 341.6156356534091 156.43800000000002L 398.5515749289773 104.292L 455.48751420454545 65.1825L 512.4234534801136 143.4015L 569.3593927556818 130.365L 626.29533203125 151.22340000000003" fill="none" fill-opacity="1" stroke="#3ac977" stroke-opacity="1" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 0 146.0088L 56.93593927556818 91.25550000000001L 113.87187855113636 117.32850000000002L 170.80781782670454 65.1825L 227.74375710227272 143.4015L 284.6796963778409 117.32850000000002L 341.6156356534091 156.43800000000002L 398.5515749289773 104.292L 455.48751420454545 65.1825L 512.4234534801136 143.4015L 569.3593927556818 130.365L 626.29533203125 151.22340000000003" pathFrom="M -1 260.73L -1 260.73L 56.93593927556818 260.73L 113.87187855113636 260.73L 170.80781782670454 260.73L 227.74375710227272 260.73L 284.6796963778409 260.73L 341.6156356534091 260.73L 398.5515749289773 260.73L 455.48751420454545 260.73L 512.4234534801136 260.73L 569.3593927556818 260.73L 626.29533203125 260.73"></path><g id="SvgjsG1247" class="apexcharts-series-markers-wrap" data:realIndex="1"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1392" r="0" cx="0" cy="0" class="apexcharts-marker wdm5i8tv9" stroke="#ffffff" fill="var(--primary)" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g></g><g id="SvgjsG1255" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1256" class="apexcharts-series" rel="1" seriesName="NumberxofxProjects" data:realIndex="0"><path id="SvgjsPath1261" d="M -5.124234534801136 260.73L -5.124234534801136 71.1825Q -5.124234534801136 65.1825 0.8757654651988638 65.1825L -0.8757654651988638 65.1825Q 5.124234534801136 65.1825 5.124234534801136 71.1825L 5.124234534801136 71.1825L 5.124234534801136 260.73L 5.124234534801136 260.73z" fill="url(#SvgjsLinearGradient1258)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M -5.124234534801136 260.73L -5.124234534801136 71.1825Q -5.124234534801136 65.1825 0.8757654651988638 65.1825L -0.8757654651988638 65.1825Q 5.124234534801136 65.1825 5.124234534801136 71.1825L 5.124234534801136 71.1825L 5.124234534801136 260.73L 5.124234534801136 260.73z" pathFrom="M -5.124234534801136 260.73L -5.124234534801136 260.73L 5.124234534801136 260.73L 5.124234534801136 260.73L 5.124234534801136 260.73L 5.124234534801136 260.73L 5.124234534801136 260.73L -5.124234534801136 260.73" cy="65.1825" cx="5.124234534801136" j="0" val="75" barHeight="195.5475" barWidth="10.248469069602272"></path><path id="SvgjsPath1265" d="M 51.81170474076704 260.73L 51.81170474076704 45.1095Q 51.81170474076704 39.1095 57.81170474076704 39.1095L 56.060173810369314 39.1095Q 62.060173810369314 39.1095 62.060173810369314 45.1095L 62.060173810369314 45.1095L 62.060173810369314 260.73L 62.060173810369314 260.73z" fill="url(#SvgjsLinearGradient1262)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 51.81170474076704 260.73L 51.81170474076704 45.1095Q 51.81170474076704 39.1095 57.81170474076704 39.1095L 56.060173810369314 39.1095Q 62.060173810369314 39.1095 62.060173810369314 45.1095L 62.060173810369314 45.1095L 62.060173810369314 260.73L 62.060173810369314 260.73z" pathFrom="M 51.81170474076704 260.73L 51.81170474076704 260.73L 62.060173810369314 260.73L 62.060173810369314 260.73L 62.060173810369314 260.73L 62.060173810369314 260.73L 62.060173810369314 260.73L 51.81170474076704 260.73" cy="39.1095" cx="62.060173810369314" j="1" val="85" barHeight="221.62050000000002" barWidth="10.248469069602272"></path><path id="SvgjsPath1269" d="M 108.74764401633523 260.73L 108.74764401633523 79.0044Q 108.74764401633523 73.0044 114.74764401633523 73.0044L 112.99611308593751 73.0044Q 118.99611308593751 73.0044 118.99611308593751 79.0044L 118.99611308593751 79.0044L 118.99611308593751 260.73L 118.99611308593751 260.73z" fill="url(#SvgjsLinearGradient1266)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 108.74764401633523 260.73L 108.74764401633523 79.0044Q 108.74764401633523 73.0044 114.74764401633523 73.0044L 112.99611308593751 73.0044Q 118.99611308593751 73.0044 118.99611308593751 79.0044L 118.99611308593751 79.0044L 118.99611308593751 260.73L 118.99611308593751 260.73z" pathFrom="M 108.74764401633523 260.73L 108.74764401633523 260.73L 118.99611308593751 260.73L 118.99611308593751 260.73L 118.99611308593751 260.73L 118.99611308593751 260.73L 118.99611308593751 260.73L 108.74764401633523 260.73" cy="73.0044" cx="118.99611308593751" j="2" val="72" barHeight="187.72560000000001" barWidth="10.248469069602272"></path><path id="SvgjsPath1273" d="M 165.6835832919034 260.73L 165.6835832919034 6Q 165.6835832919034 0 171.6835832919034 0L 169.93205236150567 0Q 175.93205236150567 0 175.93205236150567 6L 175.93205236150567 6L 175.93205236150567 260.73L 175.93205236150567 260.73z" fill="url(#SvgjsLinearGradient1270)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 165.6835832919034 260.73L 165.6835832919034 6Q 165.6835832919034 0 171.6835832919034 0L 169.93205236150567 0Q 175.93205236150567 0 175.93205236150567 6L 175.93205236150567 6L 175.93205236150567 260.73L 175.93205236150567 260.73z" pathFrom="M 165.6835832919034 260.73L 165.6835832919034 260.73L 175.93205236150567 260.73L 175.93205236150567 260.73L 175.93205236150567 260.73L 175.93205236150567 260.73L 175.93205236150567 260.73L 165.6835832919034 260.73" cy="0" cx="175.93205236150567" j="3" val="100" barHeight="260.73" barWidth="10.248469069602272"></path><path id="SvgjsPath1277" d="M 222.6195225674716 260.73L 222.6195225674716 136.365Q 222.6195225674716 130.365 228.6195225674716 130.365L 226.86799163707386 130.365Q 232.86799163707386 130.365 232.86799163707386 136.365L 232.86799163707386 136.365L 232.86799163707386 260.73L 232.86799163707386 260.73z" fill="url(#SvgjsLinearGradient1274)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 222.6195225674716 260.73L 222.6195225674716 136.365Q 222.6195225674716 130.365 228.6195225674716 130.365L 226.86799163707386 130.365Q 232.86799163707386 130.365 232.86799163707386 136.365L 232.86799163707386 136.365L 232.86799163707386 260.73L 232.86799163707386 260.73z" pathFrom="M 222.6195225674716 260.73L 222.6195225674716 260.73L 232.86799163707386 260.73L 232.86799163707386 260.73L 232.86799163707386 260.73L 232.86799163707386 260.73L 232.86799163707386 260.73L 222.6195225674716 260.73" cy="130.365" cx="232.86799163707386" j="4" val="50" barHeight="130.365" barWidth="10.248469069602272"></path><path id="SvgjsPath1281" d="M 279.5554618430398 260.73L 279.5554618430398 6Q 279.5554618430398 0 285.5554618430398 0L 283.80393091264204 0Q 289.80393091264204 0 289.80393091264204 6L 289.80393091264204 6L 289.80393091264204 260.73L 289.80393091264204 260.73z" fill="url(#SvgjsLinearGradient1278)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 279.5554618430398 260.73L 279.5554618430398 6Q 279.5554618430398 0 285.5554618430398 0L 283.80393091264204 0Q 289.80393091264204 0 289.80393091264204 6L 289.80393091264204 6L 289.80393091264204 260.73L 289.80393091264204 260.73z" pathFrom="M 279.5554618430398 260.73L 279.5554618430398 260.73L 289.80393091264204 260.73L 289.80393091264204 260.73L 289.80393091264204 260.73L 289.80393091264204 260.73L 289.80393091264204 260.73L 279.5554618430398 260.73" cy="0" cx="289.80393091264204" j="5" val="100" barHeight="260.73" barWidth="10.248469069602272"></path><path id="SvgjsPath1285" d="M 336.49140111860794 260.73L 336.49140111860794 58.146000000000015Q 336.49140111860794 52.146000000000015 342.49140111860794 52.146000000000015L 340.7398701882102 52.146000000000015Q 346.7398701882102 52.146000000000015 346.7398701882102 58.146000000000015L 346.7398701882102 58.146000000000015L 346.7398701882102 260.73L 346.7398701882102 260.73z" fill="url(#SvgjsLinearGradient1282)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 336.49140111860794 260.73L 336.49140111860794 58.146000000000015Q 336.49140111860794 52.146000000000015 342.49140111860794 52.146000000000015L 340.7398701882102 52.146000000000015Q 346.7398701882102 52.146000000000015 346.7398701882102 58.146000000000015L 346.7398701882102 58.146000000000015L 346.7398701882102 260.73L 346.7398701882102 260.73z" pathFrom="M 336.49140111860794 260.73L 336.49140111860794 260.73L 346.7398701882102 260.73L 346.7398701882102 260.73L 346.7398701882102 260.73L 346.7398701882102 260.73L 346.7398701882102 260.73L 336.49140111860794 260.73" cy="52.146000000000015" cx="346.7398701882102" j="6" val="80" barHeight="208.584" barWidth="10.248469069602272"></path><path id="SvgjsPath1289" d="M 393.42734039417616 260.73L 393.42734039417616 71.1825Q 393.42734039417616 65.1825 399.42734039417616 65.1825L 397.6758094637784 65.1825Q 403.6758094637784 65.1825 403.6758094637784 71.1825L 403.6758094637784 71.1825L 403.6758094637784 260.73L 403.6758094637784 260.73z" fill="url(#SvgjsLinearGradient1286)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 393.42734039417616 260.73L 393.42734039417616 71.1825Q 393.42734039417616 65.1825 399.42734039417616 65.1825L 397.6758094637784 65.1825Q 403.6758094637784 65.1825 403.6758094637784 71.1825L 403.6758094637784 71.1825L 403.6758094637784 260.73L 403.6758094637784 260.73z" pathFrom="M 393.42734039417616 260.73L 393.42734039417616 260.73L 403.6758094637784 260.73L 403.6758094637784 260.73L 403.6758094637784 260.73L 403.6758094637784 260.73L 403.6758094637784 260.73L 393.42734039417616 260.73" cy="65.1825" cx="403.6758094637784" j="7" val="75" barHeight="195.5475" barWidth="10.248469069602272"></path><path id="SvgjsPath1293" d="M 450.3632796697443 260.73L 450.3632796697443 19.03649999999999Q 450.3632796697443 13.03649999999999 456.3632796697443 13.03649999999999L 454.6117487393466 13.03649999999999Q 460.6117487393466 13.03649999999999 460.6117487393466 19.03649999999999L 460.6117487393466 19.03649999999999L 460.6117487393466 260.73L 460.6117487393466 260.73z" fill="url(#SvgjsLinearGradient1290)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 450.3632796697443 260.73L 450.3632796697443 19.03649999999999Q 450.3632796697443 13.03649999999999 456.3632796697443 13.03649999999999L 454.6117487393466 13.03649999999999Q 460.6117487393466 13.03649999999999 460.6117487393466 19.03649999999999L 460.6117487393466 19.03649999999999L 460.6117487393466 260.73L 460.6117487393466 260.73z" pathFrom="M 450.3632796697443 260.73L 450.3632796697443 260.73L 460.6117487393466 260.73L 460.6117487393466 260.73L 460.6117487393466 260.73L 460.6117487393466 260.73L 460.6117487393466 260.73L 450.3632796697443 260.73" cy="13.03649999999999" cx="460.6117487393466" j="8" val="95" barHeight="247.69350000000003" barWidth="10.248469069602272"></path><path id="SvgjsPath1297" d="M 507.2992189453125 260.73L 507.2992189453125 175.4745Q 507.2992189453125 169.4745 513.2992189453125 169.4745L 511.5476880149148 169.4745Q 517.5476880149148 169.4745 517.5476880149148 175.4745L 517.5476880149148 175.4745L 517.5476880149148 260.73L 517.5476880149148 260.73z" fill="url(#SvgjsLinearGradient1294)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 507.2992189453125 260.73L 507.2992189453125 175.4745Q 507.2992189453125 169.4745 513.2992189453125 169.4745L 511.5476880149148 169.4745Q 517.5476880149148 169.4745 517.5476880149148 175.4745L 517.5476880149148 175.4745L 517.5476880149148 260.73L 517.5476880149148 260.73z" pathFrom="M 507.2992189453125 260.73L 507.2992189453125 260.73L 517.5476880149148 260.73L 517.5476880149148 260.73L 517.5476880149148 260.73L 517.5476880149148 260.73L 517.5476880149148 260.73L 507.2992189453125 260.73" cy="169.4745" cx="517.5476880149148" j="9" val="35" barHeight="91.25550000000001" barWidth="10.248469069602272"></path><path id="SvgjsPath1301" d="M 564.2351582208806 260.73L 564.2351582208806 71.1825Q 564.2351582208806 65.1825 570.2351582208806 65.1825L 568.4836272904829 65.1825Q 574.4836272904829 65.1825 574.4836272904829 71.1825L 574.4836272904829 71.1825L 574.4836272904829 260.73L 574.4836272904829 260.73z" fill="url(#SvgjsLinearGradient1298)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 564.2351582208806 260.73L 564.2351582208806 71.1825Q 564.2351582208806 65.1825 570.2351582208806 65.1825L 568.4836272904829 65.1825Q 574.4836272904829 65.1825 574.4836272904829 71.1825L 574.4836272904829 71.1825L 574.4836272904829 260.73L 574.4836272904829 260.73z" pathFrom="M 564.2351582208806 260.73L 564.2351582208806 260.73L 574.4836272904829 260.73L 574.4836272904829 260.73L 574.4836272904829 260.73L 574.4836272904829 260.73L 574.4836272904829 260.73L 564.2351582208806 260.73" cy="65.1825" cx="574.4836272904829" j="10" val="75" barHeight="195.5475" barWidth="10.248469069602272"></path><path id="SvgjsPath1305" d="M 621.1710974964489 260.73L 621.1710974964489 6Q 621.1710974964489 0 627.1710974964489 0L 625.4195665660511 0Q 631.4195665660511 0 631.4195665660511 6L 631.4195665660511 6L 631.4195665660511 260.73L 631.4195665660511 260.73z" fill="url(#SvgjsLinearGradient1302)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 621.1710974964489 260.73L 621.1710974964489 6Q 621.1710974964489 0 627.1710974964489 0L 625.4195665660511 0Q 631.4195665660511 0 631.4195665660511 6L 631.4195665660511 6L 631.4195665660511 260.73L 631.4195665660511 260.73z" pathFrom="M 621.1710974964489 260.73L 621.1710974964489 260.73L 631.4195665660511 260.73L 631.4195665660511 260.73L 631.4195665660511 260.73L 631.4195665660511 260.73L 631.4195665660511 260.73L 621.1710974964489 260.73" cy="0" cx="631.4195665660511" j="11" val="100" barHeight="260.73" barWidth="10.248469069602272"></path></g></g><g id="SvgjsG1306" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1307" class="apexcharts-series" seriesName="ActivexProjects" data:longestSeries="true" rel="1" data:realIndex="2"><path id="SvgjsPath1313" d="M 0 182.51100000000002L 56.93593927556818 195.5475L 113.87187855113636 143.4015L 170.80781782670454 182.51100000000002L 227.74375710227272 195.5475L 284.6796963778409 169.4745L 341.6156356534091 208.584L 398.5515749289773 143.4015L 455.48751420454545 169.4745L 512.4234534801136 208.584L 569.3593927556818 169.4745L 626.29533203125 208.584" fill="none" fill-opacity="1" stroke="url(#SvgjsLinearGradient1310)" stroke-opacity="1" stroke-linecap="butt" stroke-width="1" stroke-dasharray="5" class="apexcharts-line" index="2" clip-path="url(#gridRectMasks9vgpmwu)" pathTo="M 0 182.51100000000002L 56.93593927556818 195.5475L 113.87187855113636 143.4015L 170.80781782670454 182.51100000000002L 227.74375710227272 195.5475L 284.6796963778409 169.4745L 341.6156356534091 208.584L 398.5515749289773 143.4015L 455.48751420454545 169.4745L 512.4234534801136 208.584L 569.3593927556818 169.4745L 626.29533203125 208.584" pathFrom="M -1 260.73L -1 260.73L 56.93593927556818 260.73L 113.87187855113636 260.73L 170.80781782670454 260.73L 227.74375710227272 260.73L 284.6796963778409 260.73L 341.6156356534091 260.73L 398.5515749289773 260.73L 455.48751420454545 260.73L 512.4234534801136 260.73L 569.3593927556818 260.73L 626.29533203125 260.73"></path><g id="SvgjsG1308" class="apexcharts-series-markers-wrap" data:realIndex="2"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1393" r="0" cx="0" cy="0" class="apexcharts-marker w4vbqf4pel" stroke="#ffffff" fill="#ff5e5e" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1248" class="apexcharts-datalabels" data:realIndex="1"></g><g id="SvgjsG1257" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1309" class="apexcharts-datalabels" data:realIndex="2"></g></g><line id="SvgjsLine1387" x1="-12.09623046875" y1="0" x2="638.3915625000001" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1388" x1="-12.09623046875" y1="0" x2="638.3915625000001" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1389" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1390" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1391" class="apexcharts-point-annotations"></g><rect id="SvgjsRect1394" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect1395" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g>
							<rect id="SvgjsRect1241" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
							<g id="SvgjsG1353" class="apexcharts-yaxis" rel="0" transform="translate(18.703125, 0)"><g id="SvgjsG1354" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1355" font-family="Helvetica, Arial, sans-serif" x="20" y="31.4" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1356">100</tspan></text><text id="SvgjsText1357" font-family="Helvetica, Arial, sans-serif" x="20" y="96.58250000000001" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1358">75</tspan></text><text id="SvgjsText1359" font-family="Helvetica, Arial, sans-serif" x="20" y="161.76500000000001" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1360">50</tspan></text><text id="SvgjsText1361" font-family="Helvetica, Arial, sans-serif" x="20" y="226.94750000000002" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1362">25</tspan></text><text id="SvgjsText1363" font-family="Helvetica, Arial, sans-serif" x="20" y="292.13" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#888888" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1364">0</tspan></text></g></g>
							<g id="SvgjsG1238" class="apexcharts-annotations"></g>
						</svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: var(--primary);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(58, 201, 119);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 94, 94);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
					</div>
				</div>
				<div class="ttl-project ds-chart">
					<div class="pr-data">
						<h5>12,721</h5>
						<span>Number of Projects</span>
					</div>
					<div class="pr-data">
						<h5 class="text-primary">721</h5>
						<span>Active Projects</span>
					</div>
					<div class="pr-data">
						<h5>$2,50,523</h5>
						<span>Revenue</span>
					</div>
					<div class="pr-data">
						<h5 class="text-success">12,275h</h5>
						<span>Working Hours</span>
					</div>
				</div>
				<div class="resize-triggers"><div class="expand-trigger"><div style="width: 723px; height: 436px;"></div></div><div class="contract-trigger"></div></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div class="card">
			<div class="card-body p-0">
				<div class="table-responsive active-projects">
					<div class="tbl-caption">
						<h4 class="heading mb-0">Active Projects</h4>
					</div>
					<div id="projects-tbl_wrapper" class="dataTables_wrapper no-footer">
						<div class="dt-buttons"><button class="dt-button buttons-excel buttons-html5 btn btn-sm border-0" tabindex="0" aria-controls="projects-tbl" type="button"><span><i class="fa-solid fa-file-excel"></i> Export Report</span></button> </div><table id="projects-tbl" class="table dataTable no-footer" role="grid" aria-describedby="projects-tbl_info">
							<thead>
								<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="projects-tbl" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Project Name: activate to sort column descending" style="width: 96.8438px;">Project Name</th><th class="sorting" tabindex="0" aria-controls="projects-tbl" rowspan="1" colspan="1" aria-label="Project Lead: activate to sort column ascending" style="width: 132.266px;">Project Lead</th><th class="sorting" tabindex="0" aria-controls="projects-tbl" rowspan="1" colspan="1" aria-label="Progress: activate to sort column ascending" style="width: 69.0469px;">Progress</th><th class="sorting" tabindex="0" aria-controls="projects-tbl" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending" style="width: 70.5px;">Assignee</th><th class="sorting" tabindex="0" aria-controls="projects-tbl" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 64.5312px;">Status</th><th class="sorting" tabindex="0" aria-controls="projects-tbl" rowspan="1" colspan="1" aria-label="Due Date: activate to sort column ascending" style="width: 73.7344px;">Due Date</th></tr>
							</thead>
							<tbody>









								<tr role="row" class="odd">
									<td class="sorting_1">Brian</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="images/contacts/pic1.jpg" class="avatar avatar-md rounded-circle" alt="">
											<p class="mb-0 ms-2">William Risher</p>
										</div>
									</td>
									<td class="pe-0">
										<div class="tbl-progress-box">
											<div class="progress">
												<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
											</div>
											<span class="text-primary">53%</span>
										</div>
									</td>
									<td class="pe-0">
										<div class="avatar-list avatar-list-stacked">
											<img src="images/contacts/pic1.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic555.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic666.jpg" class="avatar avatar-md rounded-circle" alt="">
										</div>
									</td>
									<td class="pe-0">
										<span class="badge badge-primary light border-0">Inprogress</span>
									</td>
									<td>
										<span>06 Sep 2021</span>
									</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">Christopher</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="images/contacts/pic888.jpg" class="avatar avatar-md rounded-circle" alt="">
											<p class="mb-0 ms-2">Elijah James</p>
										</div>
									</td>
									<td class="pe-0">
										<div class="tbl-progress-box">
											<div class="progress">
												<div class="progress-bar bg-success" style="width:40%; height:5px; border-radius:4px;" role="progressbar"></div>
											</div>
											<span class="text-success">40%</span>
										</div>
									</td>
									<td class="pe-0">
										<div class="avatar-list avatar-list-stacked">
											<img src="images/contacts/pic666.jpg" class="avatar avatar-md  rounded-circle" alt="">
											<img src="images/contacts/pic555.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic1.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic666.jpg" class="avatar avatar-md  rounded-circle" alt="">
										</div>
									</td>
									<td class="pe-0">
										<span class="badge badge-success light border-0">Completed</span>
									</td>
									<td>
										<span>06 Sep 2021</span>
									</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">David</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="images/contacts/pic888.jpg" class="avatar avatar-md rounded-circle" alt="">
											<p class="mb-0 ms-2">Liam Risher</p>
										</div>
									</td>
									<td class="pe-0">
										<div class="tbl-progress-box">
											<div class="progress">
												<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
											</div>
											<span class="text-primary">53%</span>
										</div>
									</td>
									<td class="pe-0">
										<div class="avatar-list avatar-list-stacked">
											<img src="images/contacts/pic777.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic555.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic666.jpg" class="avatar avatar-md rounded-circle" alt="">
										</div>
									</td>
									<td class="pe-0">
										<span class="badge badge-primary light border-0">Inprogress</span>
									</td>
									<td>
										<span>06 Sep 2021</span>
									</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">Donald</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="images/contacts/pic777.jpg" class="avatar avatar-md rounded-circle" alt="">
											<p class="mb-0 ms-2">Donald Benjamin</p>
										</div>
									</td>
									<td class="pe-0">
										<div class="tbl-progress-box">
											<div class="progress">
												<div class="progress-bar bg-danger" style="width:30%; height:5px; border-radius:4px;" role="progressbar"></div>
											</div>
											<span class="text-danger">30%</span>
										</div>
									</td>
									<td class="pe-0">
										<div class="avatar-list avatar-list-stacked">
											<img src="images/contacts/pic1.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic777.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic666.jpg" class="avatar avatar-md rounded-circle" alt="">
										</div>
									</td>
									<td class="pe-0">
										<span class="badge badge-danger light border-0">Inprogress</span>
									</td>
									<td>
										<span>06 Sep 2021</span>
									</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">Edward John</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="images/contacts/pic2.jpg" class="avatar avatar-md rounded-circle" alt="">
											<p class="mb-0 ms-2">Oliver Noah</p>
										</div>
									</td>
									<td class="pe-0">
										<div class="tbl-progress-box">
											<div class="progress">
												<div class="progress-bar bg-danger" style="width:30%; height:5px; border-radius:4px;" role="progressbar"></div>
											</div>
											<span class="text-danger">30%</span>
										</div>
									</td>
									<td class="pe-0">
										<div class="avatar-list avatar-list-stacked">
											<img src="images/contacts/pic1.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic555.jpg" class="avatar avatar-md rounded-circle" alt="">
											<img src="images/contacts/pic666.jpg" class="avatar avatar-md rounded-circle" alt="">
										</div>
									</td>
									<td class="pe-0">
										<span class="badge badge-danger light border-0">Pending</span>
									</td>
									<td>
										<span>06 Sep 2021</span>
									</td>
								</tr>
							</tbody>
						</table><div class="dataTables_info" id="projects-tbl_info" role="status" aria-live="polite">Showing 1 to 5 of 9 entries</div><div class="dataTables_paginate paging_simple_numbers" id="projects-tbl_paginate"><a class="paginate_button previous disabled" aria-controls="projects-tbl" data-dt-idx="0" tabindex="0" id="projects-tbl_previous"><i class="fa-solid fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="projects-tbl" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="projects-tbl" data-dt-idx="2" tabindex="0">2</a></span><a class="paginate_button next" aria-controls="projects-tbl" data-dt-idx="3" tabindex="0" id="projects-tbl_next"><i class="fa-solid fa-angle-right"></i></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div class="card">
			<div class="card-body p-0">
				<div class="table-responsive active-projects">
					<div class="tbl-caption">
						<h4 class="heading mb-0">Revenue History</h4>
					</div>
					<div id="empoloyees-tbl3_wrapper" class="dataTables_wrapper no-footer">
						<div class="dt-buttons"><button class="dt-button buttons-excel buttons-html5 btn btn-sm border-0" tabindex="0" aria-controls="empoloyees-tbl3" type="button"><span><i class="fa-solid fa-file-excel"></i> Export Report</span></button> </div><table id="empoloyees-tbl3" class="table dataTable no-footer" role="grid" aria-describedby="empoloyees-tbl3_info">
							<thead>
								<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="empoloyees-tbl3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Marketplaces: activate to sort column descending" style="width: 112.734px;">Marketplaces</th><th class="sorting" tabindex="0" aria-controls="empoloyees-tbl3" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 82.4062px;">Date</th><th class="sorting" tabindex="0" aria-controls="empoloyees-tbl3" rowspan="1" colspan="1" aria-label="Payouts: activate to sort column ascending" style="width: 64px;">Payouts</th><th class="sorting" tabindex="0" aria-controls="empoloyees-tbl3" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 82.0312px;">Status</th><th class="sorting" tabindex="0" aria-controls="empoloyees-tbl3" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 54px;">Action</th></tr>
							</thead>
							<tbody>






								<tr role="row" class="odd">
									<td class="sorting_1">Brian Market</td>
									<td>April 18, 2022</td>
									<td>$4528.68</td>
									<td><span class="badge badge-info border-0">Completed</span></td>
									<td class="edit-action">
										<div class="icon-box icon-box-xs bg-primary me-1">
											<i class="fa-solid fa-pencil text-white"></i>
										</div>
										<div class="icon-box icon-box-xs bg-danger  ms-1">
											<i class="fa-solid fa-trash text-white"></i>
										</div>
									</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">David Market</td>
									<td>Mar 16, 2022</td>
									<td>$4528.68</td>
									<td><span class="badge badge-info border-0">Completed</span></td>
									<td class="edit-action">
										<div class="icon-box icon-box-xs bg-primary me-1">
											<i class="fa-solid fa-pencil text-white"></i>
										</div>
										<div class="icon-box icon-box-xs bg-danger  ms-1">
											<i class="fa-solid fa-trash text-white"></i>
										</div>
									</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">Donald Revenue</td>
									<td>June 30, 2022</td>
									<td>$1269.53</td>
									<td><span class="badge badge-primary border-0">Inprogress</span></td>
									<td class="edit-action">
										<div class="icon-box icon-box-xs bg-primary me-1">
											<i class="fa-solid fa-pencil text-white"></i>
										</div>
										<div class="icon-box icon-box-xs bg-danger  ms-1">
											<i class="fa-solid fa-trash text-white"></i>
										</div>
									</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">Edward  Market</td>
									<td>May 25, 2022</td>
									<td>$2128.68</td>
									<td><span class="badge badge-primary border-0">Inprogress</span></td>
									<td class="edit-action">
										<div class="icon-box icon-box-xs bg-primary me-1">
											<i class="fa-solid fa-pencil text-white"></i>
										</div>
										<div class="icon-box icon-box-xs bg-danger  ms-1">
											<i class="fa-solid fa-trash text-white"></i>
										</div>
									</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">Edward Market</td>
									<td>Feb 14, 2022</td>
									<td>$3586.68</td>
									<td><span class="badge badge-danger border-0">Pending</span></td>
									<td class="edit-action">
										<div class="icon-box icon-box-xs bg-primary me-1">
											<i class="fa-solid fa-pencil text-white"></i>
										</div>
										<div class="icon-box icon-box-xs bg-danger  ms-1">
											<i class="fa-solid fa-trash text-white"></i>
										</div>
									</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">Marketing Revenue</td>
									<td>Jan 12, 2023</td>
									<td>$5659.68</td>
									<td><span class="badge badge-success border-0">Completed</span></td>
									<td class="edit-action">
										<div class="icon-box icon-box-xs bg-primary me-1">
											<i class="fa-solid fa-pencil text-white"></i>
										</div>
										<div class="icon-box icon-box-xs bg-danger  ms-1">
											<i class="fa-solid fa-trash text-white"></i>
										</div>
									</td>
								</tr>
							</tbody>
						</table><div class="dataTables_info" id="empoloyees-tbl3_info" role="status" aria-live="polite">Showing 1 to 6 of 6 entries</div><div class="dataTables_paginate paging_simple_numbers" id="empoloyees-tbl3_paginate"><a class="paginate_button previous disabled" aria-controls="empoloyees-tbl3" data-dt-idx="0" tabindex="0" id="empoloyees-tbl3_previous"><i class="fa-solid fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="empoloyees-tbl3" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="empoloyees-tbl3" data-dt-idx="2" tabindex="0" id="empoloyees-tbl3_next"><i class="fa-solid fa-angle-right"></i></a></div>
					</div>
				</div>

			</div>
		</div>


	</div>
</div>